.post(id='post-' + post._id)

   .post-profile
      a(href='/' + post.owner.username)
         img(src='/img/icons/face.svg')

   .post-container

      .post-header
         a(href='/' + post.owner.username)=post.owner.username
         if(post.owner)
            img(src='/img/icons/verified.svg').user-badge

      a(href='/v/' + post._id).post-content
         span= post.text

      .post-actions
         span=post.children.length > 0 ? post.children.length : ''
         button(onclick=`openComment("${post._id}")`)
            img(src='/img/icons/comments.svg' style='transform: translateY(0.15em)' title='Reply to this Post')
         span(style='color: #757575')= ' • ' + modules.moment(new Date(post.date)).fromNow()

   .post-votes
      button.float-right(onclick=`votePost("${post._id}", true)`)
         img(src='/img/icons/arrow.svg' id='post-vote-up-' + post._id title='Up-vote this Post' style='transform: rotate(90deg)')

      button.float-right(onclick=`votePost("${post._id}", false);`)
         img(src='/img/icons/arrow.svg' id='post-vote-down-' + post._id title='Down-vote this Post' style='transform: rotate(-90deg)')